<div #fullscreenerBackground class="track-art-background" *ngIf="current" [style.backgroundImage]="'url(/api/audio/song-image/' + current.uid + ')'"></div>

<div #fullscreener class="fullscreener" *ngIf="current">
  
  <button class="close-button" mat-icon-button (click)="close()" *ngIf="visible">
    <mat-icon aria-label="close">close</mat-icon>
  </button>
  <img #animatedArt class="track-art-animated" [class.playing]="state === 'playing'" src="/api/audio/song-image/{{current.uid}}"/>
  <img class="track-art" src="/api/audio/song-image/{{current.uid}}"/>
  <div class="track-playing">


    <div class="track-info">
      <div class="track">{{current.title}}</div>
      <span class="track-album">{{current.album}}</span><span> ─ </span><span class="track-artist">{{current.artist}}</span>
      <br/>

      <div class="player-action">
        <div class="actions top">
          <button mat-icon-button class="player-action play" (click)="play()" *ngIf="state === 'paused'">
            <mat-icon aria-label="Play">play_arrow</mat-icon>
          </button>
          <button mat-icon-button class="player-action play" (click)="pause()" *ngIf="state === 'playing'">
            <mat-icon aria-label="Pause">pause</mat-icon>
          </button>
        </div>

        <div class="actions left">
          <button mat-icon-button  (click)="previous()">
            <mat-icon aria-label="Previous track">skip_previous</mat-icon>
          </button>
        </div>

        <mat-progress-bar #progress class="audio-stepper"
          [value]="currentTime"
          (click)="onStepperClick($event)">
        </mat-progress-bar>
        
        <div class="actions right">
          <button mat-icon-button class="player-action right" (click)="next()">
            <mat-icon aria-label="Next track">skip_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="track-details">  
      <mat-table #table [dataSource]="dataSource">  
        <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
          <mat-header-cell *cdkHeaderCellDef style="display: none">{{ column.header }}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </div>

  <div class="track-details">
      <p [innerHTML]="current.artistDetails.artist_info.bio.content"></p>
  </div>
</div>