.content {
    color: white;
    margin: 1em;
    max-width: 650px;

    h1 {
        color: #CECECE;
        text-decoration: underline;
    }

    .actions {
        margin-top: 2em;
        float: right;
    }
}