<div class="content">

  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          <h2 class="example-h2">Administration configuration</h2>
        </mat-card-title>
        <mat-card-content>
          <section class="example-section">
            <label class="example-margin">Allow user register</label>
            <mat-input-container>
              <input matInput placeholder="User count" type="number" />
            </mat-input-container>
          </section>

          <section class="example-section">
            <mat-slide-toggle class="example-margin" [color]="warn" [checked]="checked">
              Allow register
            </mat-slide-toggle>
          </section>

          <section class="example-section">
            <mat-slide-toggle class="example-margin" [color]="warn" [checked]="checked">
              Require authentication to stream
            </mat-slide-toggle>
          </section>

          <section class="example-section">
            <mat-slide-toggle class="example-margin" [color]="warn" [checked]="checked">
              Allow user upload
            </mat-slide-toggle>
          </section>

          <section class="example-section">
            <mat-slide-toggle class="example-margin" [color]="warn" [checked]="checked">
              Allow user download
            </mat-slide-toggle>
          </section>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          <h2 class="example-h2">Statistics</h2>
        </mat-card-title>
        <mat-card-content>
          <div class="counters">
            <h4>Counters</h4>
            <mat-list dense>
              <mat-list-item>
                Users count: {{ statistics.usersCount }}
              </mat-list-item>
              <mat-list-item>
                Library album count: {{ statistics.albumsCount }}
              </mat-list-item>
              <mat-list-item>
                Library tracks count: {{ statistics.tracksCount }}
              </mat-list-item>
              <mat-list-item>
                Users count: {{ statistics.usersCount }}
              </mat-list-item>
            </mat-list>
          </div>
          <div class="storage-graph">
            <h4>Storage</h4>
            <canvas #storage width="50px">{{ chartStorage }}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]=2>
      <mat-card>
        <mat-card-title>
          <h2 class="example-h2">Users access</h2>
        </mat-card-title>
        <mat-card-content>
          <span>Graph of user activity</span>
          <canvas #access>{{ chart }}</canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]=2>
      <mat-card>
        <mat-card-title>
          <h2 class="example-h2">Plays statistics</h2>
        </mat-card-title>
        <mat-card-content>
          <span>Graph of plays activity</span>
          <canvas #activity>{{ chart }}</canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--<mat-grid-tile [colspan]=2 [rowspan]=2>
      <mat-card>
        <mat-card-title>
          <h2 class="example-h2">Other statistics</h2>
        </mat-card-title>
        <mat-card-content>
          <span>Graph of other</span>
    
          <canvas #others>{{ chart }}</canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>-->
  </mat-grid-list>
</div>