.content {
    margin: 1px;
    padding-bottom: 3em;
    mat-card {
        width: calc(100% - 3em);
        height: calc(100% - 3em);
        mat-card-content {
            height: 100%;           
        }

        mat-card-title {
            button {
                display: inline;
                padding-left: 1em;
            }
        }
    }

    section.inline-section{
        display: inline-block;
        width: calc(50% - 1em);
    }

    .actions {
        text-align: right;
    }

    .plays {
        margin-bottom: 65px;
    }

    canvas {
        margin: 0.5em;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0.25em;
    }

    mat-spinner {
        margin: auto;
    }
}

.storage-graph, .counters {
    display: inline-block;
    float: left;
    padding: 0.5em;
    width: calc(50% - 1em);
}
.storage-graph {
    right: 0;
}
.counters {
    left: 0;
}