<div class="background" *ngIf="details && toggleBackground" [style.backgroundImage]="getArtistBackground(details.info)"></div>

<div class="content fixed-tab-header">
  <div class="artist-header">
    <h1 class="mat-h1 ">
        <div class="artist-image">
          <img class="artist" [src]="image" />
        </div>
        <i class="material-icons clickable" title="Save on server side" (click)="saveImageServerSide()">play_for_work</i>
        <div class="name">{{artist}}</div>
    </h1>
    <mat-slide-toggle class="toggle-background" [checked]="toggleBackground" [(ngModel)]="toggleBackground" (ngModelChange)="onToggleChange($event)" >Show artist as background</mat-slide-toggle>
  </div>

  <div class="albums" *ngIf="details">
    <mat-tab-group color="accent">
      <mat-tab label="Discography">
        <div class="tab-content">
          <h3>Most played tracks</h3>

          <hr/>
          <h3>Albums</h3>
          <mat-grid-list cols="10" >
            <mat-grid-tile *ngFor="let album of details.albums">
              <mat-card class="album" *ngIf="album" [style.background-image]="getBackground(album.album_info)">
                <a pageScroll href="#{{scrollLink(album.album)}}">
                  <mat-card-header>
                    <mat-card-title>{{album.album}}</mat-card-title>
                  </mat-card-header>
                </a>
                <mat-card-content>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>

          <hr/>
          <h3>Tracks</h3>
          <ul>
            <li *ngFor="let album of details.albums">
              <div>
                <div>
                  <div mat-card-avatar class="cover-image" [style.background-image]="getArtistBackground(album.album_info)"></div>
                  <h4 id="{{scrollLink(album.album_info.title)}}">{{album.album_info.title}}</h4>
                </div>
                <mat-divider mat-line></mat-divider>
                
                <div class="album-actions">
                  <button mat-icon-button (click)="selectAll(details.name, album)">
                    <mat-icon aria-label="select all">done_all</mat-icon>
                  </button>
                </div>
                <mat-selection-list #tracks [(ngModel)]="selectedOptions[details.name]">
                    <mat-list-option *ngFor="let track of album.tracks" [value]="track">
                      <div class="track">
                        <span>
                          <button mat-icon-button (click)="playNow(track, artist, $event)">
                            <mat-icon aria-label="play now">play_arrow</mat-icon>
                          </button>
                        </span>
                        <span>
                          <button mat-icon-button (click)="appendToPlaylist(track, artist, $event)">
                            <mat-icon aria-label="Append to playlist">playlist_add</mat-icon>
                          </button>
                        </span>
                        <span class="track-number">{{track.metadatas.track}}</span>
                        <span class="track-title">{{track.title}}</span>
                        <span class="track-duration">{{track.duration}}</span>
                        <span class="track-metadata">
                          <button mat-icon-button (click)="metadata(track, artist, $event)">
                            <mat-icon aria-label="details">description</mat-icon>
                          </button>
                        </span>
                      </div>
                    </mat-list-option>
                    <p>
                      Tracks selected: {{tracks.selectedOptions.selected.length}}
                    </p>
                </mat-selection-list>
              </div>
              <button mat-icon-button (click)="actionFrom('play', artist)">
                <mat-icon aria-label="play">playlist_add</mat-icon>
              </button>
              <button mat-icon-button (click)="actionFrom('like', artist)">
                <mat-icon aria-label="like">favorite</mat-icon>
              </button>
              <button mat-icon-button (click)="actionFrom('share', artist)">
                <mat-icon aria-label="share">share</mat-icon>
              </button>
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Biography">
        <div class="tab-content">
          <p [innerHTML]="details.info.bio.content" *ngIf="!details.info.wikipedia"></p>
          <p [innerHTML]="details.info.wikipedia" *ngIf="details.info.wikipedia"></p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>