<mat-card class="main-process-card">
  <mat-card-header>
    <div mat-card-avatar class="system-avatar"></div>
    <mat-card-title>Welcome to the application installer</mat-card-title>
    <mat-card-subtitle>Let me take the lead and have a break.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/heads.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The system has detected that the necessary components are not all installed.
      <br/>
      This automated installer will install all needed components to run sofwtare and install the database scheme to store 
      datas on the server.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">Install</button>
  </mat-card-actions>
</mat-card>
