<h3>
  Folder: {{folder}}
</h3>

<div>
  <h4>Files in this folder</h4>

  <mat-selection-list #tracks *ngIf="files">
    <mat-list-option *ngFor="let file of files" [value]="file">
      <div class="track">
        <span>
          <button mat-icon-button (click)="appendToPlaylist(track, artist, $event)">
            <mat-icon aria-label="File type">{{getFileIcon(file)}}</mat-icon>
          </button>
        </span>
        <span class="file-name" *ngIf="file.type === 'file'">{{file.name}}</span>
        <a *ngIf="file.type === 'directory'" routerLink="/my-library/{{file.name}}">{{file.name}}</a>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
<button mat-raised-button (click)="openUploadDialog()">Upload</button>