<ul class="library">
  <li class="artist" *ngFor="let artist of artists">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image" [style.background-image]="getImage(artist.artist_info)"></div>
        <mat-card-title>{{artist.artist}}</mat-card-title>
      </mat-card-header>
        
      <mat-card-content>
        <div *ngIf="artist.artist_info.bio" [innerHTML]="artist.artist_info.bio.summary">
        </div>
        <mat-chip-list *ngIf='artist.artist_info.tags' class='artist-tags'>
          <h4>Tags:</h4>
          <mat-chip *ngFor='let tag of artist.artist_info.tags.tag' color="primary" selected="true">{{ tag['name'] }}</mat-chip>
        </mat-chip-list>
          
        <ul>
          <li *ngFor="let album of artist.albums">
            <div>
              <div>
                <mat-icon mat-list-icon class="cover-icon" *ngIf="album.album_info.cover === '/img/album.jpg'">album</mat-icon>
                <div mat-card-avatar class="cover-image" *ngIf="album.album_info.cover !== '/img/album.jpg'" [style.background-image]="getImage(album.album_info)"></div>
                <h4>{{album.title}}</h4>
              </div>
              <mat-divider mat-line></mat-divider>
              
              <div class="album-actions">
                <button mat-icon-button (click)="selectAll(artist.artist, album)">
                  <mat-icon aria-label="select all">done_all</mat-icon>
                </button>
              </div>
              <mat-selection-list #tracks [(ngModel)]="selectedOptions[artist.artist]" (ngModelChange)="onTracksSelectionChanged($event)">
                  <mat-list-option *ngFor="let track of album.tracks" [value]="track">
                    <div class="track">
                      <span class="track-number">{{track.metadatas.track}}</span>
                      <span class="track-title">{{track.title}}</span>
                      <span class="track-duration">{{track.duration}}</span>
                    </div>
                  </mat-list-option>
              </mat-selection-list>

              <p>
                Tracks selected: {{tracks.selectedOptions.selected.length}}
              </p>
            </div>
          </li>
        </ul>
      </mat-card-content>
        <!--<img mat-card-image src="{{artist.image[0]}}" alt="Photo of a Shiba Inu">-->
      <mat-card-actions>
        <button mat-icon-button (click)="actionFrom('play', artist.artist)">
          <mat-icon aria-label="play">playlist_add</mat-icon>
        </button>
        <button mat-icon-button (click)="actionFrom('like', artist.artist)">
          <mat-icon aria-label="like">favorite</mat-icon>
        </button>
        <button mat-icon-button (click)="actionFrom('share', artist.artist)">
          <mat-icon aria-label="share">share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </li>


  <div class="actions-container">
    <button mat-icon-button (click)="loadMore()">
      <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</ul>
