<h1 class="mat-h1">Artists</h1>
<div class="discover-container">
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let artist of artists">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{artist.artist}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img [src]="images.artists[artist.artist_info.name]" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="actions-container">
    <div class="loader-lib" *ngIf="loading['artists']">
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
    </div>

    <button mat-icon-button color="accent" (click)="loadMore('artist')" *ngIf="!loading['artists']">
      <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>

<h1 class="mat-h1">Albums</h1>
<div class="discover-container">
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let album of albums">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{album.album}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img [src]="images.albums[album.album_info.title]" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="actions-container">
    <div class="loader-lib" *ngIf="loading['albums']">
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
    </div>

    <button mat-icon-button color="accent" (click)="loadMore('album')" *ngIf="!loading['albums']">
      <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>

<h1 class="mat-h1">Library</h1>
<app-search></app-search>