<mat-progress-bar #progress *ngIf="metadataLoaded" class="audio-stepper"
  [color]="color"
  [mode]="buffer"
  [value]="value"
  [bufferValue]="75"
  (click)="onStepperClick($event)">
</mat-progress-bar>

<mat-progress-bar *ngIf="!metadataLoaded" class="audio-stepper"
[mode]="'indeterminate'">
</mat-progress-bar>

<audio #audio [src]='src'></audio>
<div class="content" *ngIf="isInit">
  <ul>

    <li (click)="fullscreen()">
      <img class="track-art" src="/api/audio/song-image/{{current.uid}}"/>
    </li>

    <li>
      <button mat-icon-button (click)="previous()">
        <mat-icon aria-label="Previous track">skip_previous</mat-icon>
      </button>
    </li>

    <li>
      <button mat-icon-button (click)="play()" *ngIf="state === 'paused'">
        <mat-icon aria-label="Play">play_arrow</mat-icon>
      </button>

      <button mat-icon-button (click)="play()" *ngIf="state === 'playing'">
        <mat-icon aria-label="Pause">pause</mat-icon>
      </button>

      <button mat-icon-button *ngIf="state !== 'paused' && state !== 'playing' ">
        <mat-icon aria-label="Stopped">play_arrow</mat-icon>
      </button>
    </li>
    
    <li>
      <button mat-icon-button (click)="next()">
        <mat-icon aria-label="Next track">skip_next</mat-icon>
      </button>
    </li>
  </ul>

  <span *ngIf="current">
    {{current.title}}
  </span>

  <ul>
    <li>
      <small>{{ currentTime | duration }}</small>
    </li>
    <li>
      <small>/</small>
    </li>
    <li>
      <small>{{ duration | duration }}</small>
    </li>
  </ul>

  <app-fullscreen #fullscreener></app-fullscreen>
</div>