<mat-progress-bar class="example-margin"
  [color]="color"
  [mode]="buffer"
  [value]="value"
  [bufferValue]="75">
</mat-progress-bar>

<audio #audio [src]='src'></audio>

<ul>
  <li>
    <button mat-icon-button (click)="previous()">
      <mat-icon aria-label="Example icon-button with a heart icon">skip_previous</mat-icon>
    </button>
  </li>

  <li>
    <button mat-icon-button (click)="play()">
      <mat-icon aria-label="Example icon-button with a heart icon">play_arrow</mat-icon>
    </button>
  </li>
  
  <li>
    <button mat-icon-button (click)="next()">
      <mat-icon aria-label="Example icon-button with a heart icon">skip_next</mat-icon>
    </button>
  </li>
  
</ul>