.table-container {
    position: relative;
    margin-top: 50px;

    .mat-table {
        max-height: calc(100vh - 400px);
        overflow-y: auto;

        .mat-header-row {
            position: absolute;
            top: -50px;
            left: 0px;
            right: 18px;
            background: #fff;
        }
    }
}