.table-container {
    position: relative;
    margin-top: 50px;
    .mat-table {
        max-height: calc(100vh - 465px);
        overflow-y: auto;
        .mat-header-row {
            position: absolute;
            top: -50px;
            left: 0px;
            right: 18px;
            background: #fff;
        }
    }
}

.filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}

.mat-column-action {
    flex: 0 0 95px;
}

button {
    display: inline-block;
}

.handle {
    flex: 0 0 25px;
    cursor: grab;
}

.gu-transit .handle {
    cursor: grabbing;
}

.mat-column-duration {
    flex: 0 0 90px;
}

.mat-column-index {
    flex: 0 0 75px;
}