<h2 mat-dialog-title>Playlist</h2>
<mat-dialog-content>
  <div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="table-container">
  
    <mat-table #table [dataSource]="dataSource" [dragula]='"playlist-bag"'>  

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button class="handle">
            <mat-icon aria-label="change_position" class="handle">drag_indicator</mat-icon>
          </button>
          <button mat-icon-button (click)="play(element)" *ngIf="element.state !== 'playing'">
            <mat-icon aria-label="Play">play_arrow</mat-icon>
          </button>
          <button mat-icon-button (click)="pause(element)" *ngIf="element.state === 'playing'">
            <mat-icon aria-label="Pause">pause_arrow</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element" class="handle"> {{element.index + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="artist">
        <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.artist}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="album">
        <mat-header-cell *matHeaderCellDef> Album </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.album}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row id="{{row.index}}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
