<h2 mat-dialog-title>Playlist</h2>
<mat-dialog-content>
  <div class="track" *ngFor="let track of tracklist; let i = index">
    <div class="track-info tracknum">
      <mat-icon *ngIf="current.uid === track.uid" aria-label="playing">play_arrow</mat-icon>
      {{i}}
    </div>
    <div class="track-info track-label-info">{{track.title}}</div>
    <div class="track-info track-label-info">{{track.artist}}</div>
    <div class="track-info track-label-info">{{track.album}}</div>
    <div class="track-info track-duration">{{track.duration}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
