:host {
  display: block;
  position: absolute;
  left: 72px;
  right: 0;
  top: 55px;
  background-color: rgba(0,0,0,0.5);
  min-height: calc(100% - 4.3em);
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}