img.user-avatar {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.content {
    padding: 1em;
    padding-bottom: 1em;
    padding-bottom: 4em;

    mat-card {
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center;

        .mat-card-header {
            position: relative;
        }

        .mat-card-title {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            padding: 0.5em;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 1.5em;
            text-align: center;
        }
    }
}