<div class="content">
  <mat-grid-list cols="7" >
    <mat-grid-tile *ngFor="let user of users">
      <mat-card class="user" *ngIf="user" [style.backgroundImage]="'url(/static' + user.avatar + ')'">
        <a routerLink='/profile/{{user.username}}'>
          <mat-card-header>
            <mat-card-title>{{user.username}}</mat-card-title>
          </mat-card-header>
        </a>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>