<div>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span>Ongaku</span>
    <span class="sub-title">Music app</span>


    <nav>
      <button mat-icon-button routerLink="/dashboard">
        <mat-icon aria-label="Example icon-button with a heart icon">home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/heroes">
        <mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>
      </button>
      <button mat-icon-button routerLink="/heroes">
        <mat-icon aria-label="Example icon-button with a heart icon">autorenew</mat-icon>
      </button>
    </nav>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>