<mat-sidenav-container class="menu-container">
  <mat-sidenav-content class="mat-toolbar mat-primary">
    <mat-list>
      <mat-list-item>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Example icon-button with a heart icon">graphic_eq</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">queue_music</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">account_circle</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">mic</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">library_music</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">file_upload</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>